/*------------General-------------*/
body
{
	font-family: 'Lato', Verdana, Geneva, sans-serif;
	font-size: 1.25vw;
	line-height: 160%;
}

h1 {
    font-size: 2em;
    margin: 0.25em 0em 0.5em 0em;
    text-align: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

li {
    //font-size: 1.5em;
}

a, a:link, a:visited
{
    text-decoration: none;
    decoration: none;
    color: white;
}

.main-flex {
  display: flex;
	justify-content: space-between;
}

.section {
	display: block;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
		margin: 0;
}

.flex-item {
		display: block;
    width: 31%;
}

.flex-container .sub1 {
    padding-left: 1em;
    border-style: none;
}

.flex-container .sub2 {
    padding-left: 2em;
    border-style: none;
}

.flex-container .sub3 {
    padding-left: 3em;
    border-style: none;
}

.flex-container .sub4 {
    padding-left: 4em;
}

.clock {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1em;
}
.clock h2 {
    font-size: 2em;
}

#timer {
    padding-top: 0.25em;
}

.clickable {
    display: inline-block;
    background-color: #007fff;
    color: white;

    border: 0.1em;
    border-color: #003eff;
    border-radius: 0.3em;
    border-style: solid;
    padding: 0.5em;
		margin-bottom: 1.5em;
}

.clickable:hover {
    cursor: pointer;
}

#log-container {
    height: 35vh;
    background-color: #e6e6e6;
    padding: 0em 0.4em 0em 0.4em;
		margin-bottom: 1em;
    overflow-y:scroll;
}

#log .turn{
    border: 0.05em;
    border-top-style: solid;
    border-color: whitesmoke;
}

#enemyInfo {
    /*padding-bottom: 1em;*/
}

.statSection {
    border: 0.2px;
    padding-bottom: 1em;
}


.character {
    border: 0.2px;
    border-bottom-style: solid;
    margin-top: 1em;
}

#characterInfo > div {
	line-height: 120%;
}

#raidID {
	color: #800000;
}

/*-------------graphs-------------*/

#graph {
    width: 400em;
    height: 200em;
}

#graphAxis {
    width:80vw;
}

.chartWrapper {
    text-align: center;
}

.chartWrapper > canvas {
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    display: inline-block;
    width: 80vw;
    overflow-x: auto;
}
